body {
    background: #363636 !important;
    color: black !important;
}


.btn-primary {
    background: #E46A6B !important;
    border-color: #E46A6B !important;
    color: #363636 !important;
}

.btn-primary:hover {
    background: #E05456 !important;
    border-color: #E05456 !important;
}

.btn-primary:active {
    background: #DC3F40 !important;
    border-color: #DC3F40 !important;
}

div.modal-content {
    background: #6E6E6E !important;
}

input.form-control {
    width: auto !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

span.glyphicon.glyphicon-remove {
    color: #E46A6B !important;
}

span.glyphicon.glyphicon-remove:hover {
    color: #E05456 !important;
}

span.glyphicon.glyphicon-remove:active {
    color: #DC3F40 !important;
}